<app-navigation></app-navigation>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/images/cyberpunk.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets//images/3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets//images/warcraft.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <section class="popular">
    <h2 class="popular-title">Popular Games</h2>
    <div class="content">
        <div class="card" *ngFor="let item of games.slice(0, 10);">
            <span *ngIf="this.authService.isLoggedIn()" class="favourite"><i class="fa-solid fa-bookmark"></i></span>
            <img src="{{item.imageUrl}}" alt="">
            <p>{{item.name}}</p>
            <span class="typeofkey">{{item.status}}</span>
            <span class="price">Price: {{item.price}} $</span>
            <button><a [routerLink]="['chosenGame', item.id]">Buy</a></button>
        </div>
    </div>
  </section>
  <section class="top-games">
    <h2 class="topGames-title">Top Games</h2>
    <div class="content1">
        <div class="card"  *ngFor="let item of games.slice(0, 10);">
            <a *ngIf="this.authService.isLoggedIn()" [routerLink]="['/User/AddFavouriteGame/',item.id]" class="favourite"><i class="fa-solid fa-bookmark"></i></a>
            <img src="{{item.imageUrl}}" alt="">
            <p>{{item.name}}</p>
            <span class="typeofkey">{{item.status}}</span>
            <span class="price">Price: {{item.price}} $</span>
            <button><a [routerLink]="['chosenGame', item.id]">Buy</a></button>
        </div>
    </div>
  </section>
<section class="categories-box">
    <h2 class="categories-title">Categories</h2>
    <div class="types">
        <div class="category-btn" *ngFor="let item of genres">
            <span>5689</span>
            <a [routerLink]="['/game/genre', item.id]">{{item.name}}</a>
        </div>
    </div>
</section>
<app-footer></app-footer>

