<section class="edit-section">
    <div class="edit-container">
        <div class="left">
            <img src="/1847.jpg" alt="">
        </div>
        <div class="right">
            <h3>Edit Game</h3>
            <form action="" class="edit-form">
                <label for="">Name</label>
                <input type="text">
                <label for="">Price</label>
                <input type="text">
                <label for="">ImageUrl</label>
                <input type="text">
                <label for="">Date</label>
                <input type="text">
                <label for="">Rating</label>
                <input type="text">
                <label for="">Status</label>
                <input type="text">
                <label for="">GenreId</label>
                <input type="text">
                <label for="">PlatformId</label>
                <input type="text">
                <button>Edit</button>
            </form>
        </div>
    </div>
</section>
