<app-navigation></app-navigation>
<section>
    <div class="right-container">
        <div id="center">
            <span class="title">Hi!</span>
            <span class="title">It's nice to see</span>
            <span class="title">you!</span>
        </div>
    </div>
    <div class="left-container">
        <div class="register-box">
            <h2>Login</h2>
            <span>If you dont have an account? <a href="" routerLink="/register">Register</a></span>
            <div class="social">
                <button id="google"><i class="fa-brands fa-google"></i> Google</button>
                <button id="facebook"><i class="fa-brands fa-facebook-f"></i> Facebook</button>
                <button id="apple"><i class="fa-brands fa-apple"></i> Apple</button>
            </div>
            <div class="social-apps">
                <a href="https://store.steampowered.com/"><i class="fa-brands fa-steam-symbol"></i></a>
                <a href="https://discord.com/"><i class="fa-brands fa-discord"></i></a>
                <a href="https://www.twitch.tv/"><i class="fa-brands fa-twitch"></i></a>
                <a href="https://discord.com/"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://vk.com/"><i class="fa-brands fa-vk"></i></a>
            </div>
            <div class="divider">
                <hr class="left"/>or<hr class="right" />
            </div>
            <form action="submit" [formGroup]="loginForm" (ngSubmit)="loginSubmited()">
                <input type="email" placeholder=" Email" formControlName="email" >
                <div class="form-text text-danger text-center" *ngIf="Email.errors?.['required'] && (Email.touched || Email.dirty)">Email required</div>
                <input type="password" placeholder=" Password" formControlName="password">
                <div class="form-text text-danger text-center" *ngIf="Password.errors?.['required'] && (Password.touched || Password.dirty)">Password required</div>
                <button type="submit" [disabled]="loginForm.invalid">Login</button>
            </form>
            <a class="button" href="" routerLink="/">Go to <span>Home</span></a>
        </div>
    </div>
</section>
<app-footer></app-footer>

