section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(/assets/images/generation-controllers-falling-yellow-background_442713-3509.webp);
}

.right-container{
    width: 60%;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
}

#center{
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 350px;
}

.title{
    font-size: 8rem;
    margin-left: 20px;
    height: 180px;
}

.left-container{
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

.register-box{
    background-color: #101820FF;
    margin: 20px;
    width: 400px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FEE715FF;
    border-radius: 10px;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 300px;
}

form input{
    width: 300px;
    height: 55px;
    margin: 10px;
    padding: 5px;
}

.check-menu{
    width: 100%;
    display: block;
    align-items: flex-end;
    cursor: pointer;
    font-size: 20px;
}

h2{
    font-size: 1.8rem;
}

.text-danger{
    height: 10px;
    width: 90%;
    display: flex;
    justify-content: flex-start;
}

.text-danger{
    height: 30px;
    width: 90%;
    display: flex;
    justify-content: flex-start;
}

#check{
    width: 20px;
    height: 20px;
}

form button{
    background-color: transparent;
    border: 2px solid #FEE715FF;
    cursor: pointer;
    height: 60px;
    width: 90%;
    color: #FEE715FF ;
    font-size: 1.2rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

form button:hover{
    background-color: #fff;
}

.divider {
	width:300px;
	text-align:center;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FEE715FF;
    padding-top: 10px;
}

.divider hr {
	margin-left:auto;
	margin-right:auto;
	width:40%;
    color: #FEE715FF;

}

.left {
	float:left;
}

.right {
	float:right;
}

.social{
    display: flex;
    margin-top: 10px;
}

.social button{
    margin: 10px;
    width: 90px;
    height: 40px;
}

#google{
    width: 100px;
    height: 40px;
    background-color: #fff;
    color: #101820FF;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

#facebook{
    width: 100px;
    height: 40px;
    background-color: #5266FC;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}

#facebook i{
    margin-right: 5px;
}

#apple i{
    margin-right: 5px;
}

#google i{
    margin-right: 5px;
}

#apple{
    width: 100px;
    height: 40px;
    border: none;
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.social button{
    cursor: pointer;

}

.social button i{
    margin-right: 5px;

}

a{
    text-decoration: none;
    color: #FEE715FF;
}

.social-apps{
    display: flex;
    border: 2px solid #FEE715FF;
    width: 90%;
    justify-content: space-around;
    margin-top: 15px;
}

.social-apps a{
    color: #FEE715FF;
    font-size: 2rem;
    margin-right: 15px;
}


.social-apps a:hover{
    color: #fff;
}

.button{
    margin-top: 25px;
    font-size: 1.2rem;
    padding: 5px;
}

.button span{
    border-bottom: 2px solid #FEE715FF;
}

.button span:hover{
    color: #fff;
}

span a{
    border-bottom: 2px solid #FEE715FF;
    margin-left: 5px;
}

