table{
    width: 100%;
    margin-top: 20px;
}

td{
    width: 60px;
    margin: 15px;
}

.search-box{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-box button{
    background-color: #fff;
    margin: 10px;
    
}

.search-box input{
    width: 250px;
    height: 35px;
}