<section class="edit-section">
    <div class="edit-container">
        <!-- <div class="left">
            <img src="{{game.imageUrl}}" alt="">
        </div> -->
        <div class="right">
            <h3>Edit Game</h3>
            <form #form="ngForm" [formGroup]="editForm" action="" class="edit-form" (ngSubmit)="updateGame()">
                <div class="rows">
                    <p>
                        <mat-form-field appearance="legacy">
                          <mat-label>Name</mat-label>
                          <input matInput placeholder="Placeholder" formControlName="Name" type="text" [(ngModel)] = "this.game.name" name="name">
                          <mat-error *ngIf="!editForm.get('Name')?.valid && editForm.get('Name')?.touched">Name required! Range should be between 3-30 chars!</mat-error>
                          <mat-hint>Hint</mat-hint>
                        </mat-form-field>
                      </p>
                      <p>
                        <mat-form-field appearance="legacy">
                          <mat-label>Price</mat-label>
                          <input matInput placeholder="Placeholder" formControlName="Price" type="text" [(ngModel)] = "this.game.price" name="price">
                          <mat-error *ngIf="!editForm.get('Price')?.valid && editForm.get('Price')?.touched">Price should be between 1-250$</mat-error>
                          <mat-hint>Hint</mat-hint>
                          <mat-error *ngIf=""></mat-error>
                        </mat-form-field>
                      </p>
                </div>
              <div class="rows">
                <p>
                    <mat-form-field appearance="legacy">
                      <mat-label>ImageUrl</mat-label>
                      <input matInput placeholder="Placeholder" formControlName="ImageUrl" type="text" [(ngModel)] = "this.game.imageUrl" name="imageUrl">
                      <mat-error *ngIf="!editForm.get('ImageUrl')?.valid && editForm.get('ImageUrl')?.touched">ImageUrl required!</mat-error>
                      <mat-hint>Hint</mat-hint>
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field appearance="legacy">
                      <mat-label>Date</mat-label>
                      <input [matDatepicker]="picker" matInput placeholder="Placeholder" formControlName="Date" type="text" [(ngModel)] = "this.game.date" name="date">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                      <mat-error *ngIf="!editForm.get('Date')?.valid && editForm.get('Date')?.touched">Pick date please!</mat-error>
                      <mat-hint>Hint</mat-hint>
                    </mat-form-field>
                  </p>
              </div>
              <div class="rows">
                <p>
                    <mat-form-field appearance="legacy">
                      <mat-label>Rating</mat-label>
                      <input matInput placeholder="Placeholder" formControlName="Rating" type="text" [(ngModel)] = "this.game.rating" name="rating">
                      <mat-error *ngIf="!editForm.get('Rating')?.valid && editForm.get('Rating')?.touched">Rating value should be between 1-5</mat-error>

                      <mat-hint>Hint</mat-hint>
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field appearance="legacy">
                      <mat-label>Status</mat-label>
                      <input matInput placeholder="Placeholder" formControlName="Status" type="text" [(ngModel)] = "this.game.status" name="status">
                      <mat-error *ngIf="!editForm.get('Status')?.valid && editForm.get('Status')?.touched">Please use status such as 'Global', 'Europe'..!</mat-error>
                      <mat-hint>Hint</mat-hint>
                    </mat-form-field>
                  </p>
              </div>
              <div class="rows">
                <p>
                    <mat-form-field appearance="legacy">
                      <mat-label>GenreId</mat-label>
                      <input matInput placeholder="Placeholder" formControlName="GenreId" type="text" [(ngModel)] = "this.game.genreId" name="genreId">
                      <mat-error *ngIf="!editForm.get('GenreId')?.valid && editForm.get('GenreId')?.touched">GenreId should be between 1-12!</mat-error>
                      <mat-hint>Hint</mat-hint>
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field appearance="legacy">
                      <mat-label>PlatformId</mat-label>
                      <input matInput placeholder="Placeholder" formControlName="PlatformId" type="text" [(ngModel)] = "this.game.platformId" name="platformId">
                      <mat-error *ngIf="!editForm.get('PlatformId')?.valid && editForm.get('PlatformId')?.touched">PlatformId should be between 1-12!</mat-error>
                      <mat-hint>Hint</mat-hint>
                    </mat-form-field>
                  </p>
              </div>
              <div class="rows">
                  <p>
                    <mat-form-field appearance="legacy">
                      <mat-label>Description</mat-label>
                      <input matInput placeholder="Placeholder" formControlName="Description" type="text" [(ngModel)] = "this.game.gameDescription" name="gameDescription">
                      <mat-error *ngIf="!editForm.get('Description')?.valid && editForm.get('Description')?.touched">Desciption is required!</mat-error>
                      <mat-hint>Hint</mat-hint>
                    </mat-form-field>
                  </p>
              </div>
                <div class="buttons">
                    <button [disabled]="editForm.invalid">Edit <mat-icon>edit</mat-icon></button>
                    <button [disabled]="editForm.invalid" (click)="onDelete()">Delete<mat-icon>delete </mat-icon></button>
                </div>
                <a routerLink="/admin">Go back</a>
            </form>
        </div>
    </div>
</section>
<app-footer></app-footer>


