<app-navigation></app-navigation>
<section class="contact-section">
    <div class="contact-container">
        <h1 class="title">Contact us</h1>
        <div class="inputs">
            <div class="box">
                <label for="">Email</label>
                <input type="text">
            </div>
            <div class="box">
                <label for="">Tittle</label>
                <input type="text">
            </div>
            <div class="box">
                <label for="">Name</label>
                <input type="text">
            </div>
            <div class="box">
                <label for="">Surname</label>
                <input type="text">
            </div>
        </div>
        <label for="">Description</label>
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <button type="submit" class="send">Send</button>
    </div>
</section>
<app-footer></app-footer>

