<app-navigation></app-navigation>
<section class="games-section">
    <div class="games-container">
        <div class="card" *ngFor="let item of games">
            <img src="{{item.imageUrl}}" alt="">
            <span *ngIf="this.authService.isLoggedIn()" [routerLink]="['/User/AddFavouriteGame/',item.id]" class="favourite"><i class="fa-solid fa-bookmark"></i></span>
            <p>{{item.name}}</p>
            <span class="typeofkey">{{item.status}}</span>
            <span class="price">Price: {{item.price}} $</span>
            <button><a [routerLink]="['/chosenGame', item.id]">Buy</a></button>
        </div>
    </div>
</section>
<app-footer></app-footer>
