<footer>
    <div class="menu-box">
        <div class="info">
            <div class="cols">
                <h4>Quick Links</h4>
                <ul>
                    <a routerLink="/">Home</a>
                    <a routerLink="/aboutUs">About Us</a>
                    <a href="">Services</a>
                    <a routerLink="/Contact">Contact</a>
                </ul>
            </div>
            <div class="cols">
                <h4>Services</h4>
                <ul>
                    <a href="">Contact us</a>
                    <a href="">Write us</a>
                    <a href="">Call us</a>
                </ul>
            </div>
            <div class="cols">
                <h4>Address</h4>
                <p>Sofia, Bulgaria<br></p>
                <p>didicko033@gmail.com</p>
                <p>+359 800 854 633</p>
            </div>
            <div class="cols">
                <h4>Follow Us</h4>
                <a href="//facebook.com"><i class="fa-brands fa-facebook"></i></a>
                <a href="//instagram.com"><i class="fa-brands fa-instagram"></i></a>
                <a href="//twitter.com"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
    </div>
</footer>
